table {
    table-layout: fixed;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #E0E0E0;
    width: 100px;
    text-align: center;
}

li {
    width: 100px;
    list-style-type: none;
}

.emphasise-border {
    border: 2px solid blue;
}
